.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .cardItem {
    width: 150px;
    height: 80px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
  }
  
  .label-colorCode {
    width: 150px;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
  }
  
  .color-picker {
    margin-left: 10px;
  }
  
  .container {
    height: 92vh;
  }
  